This project is intended to collect the <b>contact details of Bharatpur Metropolitan authorities</b>. It was done to familiarize <b>BIM 5th-semester</b> students with web scraping.

Required Libraries
* beautifulSoup
* requests
* pandas

If these libraries are not already installed on your device, then install them using the following command:<br>
pip install beautifulsoup4 requests

In [1]:
# To parse the webpage
from bs4 import BeautifulSoup

# To fetch the webpage
import requests

# To save the file
import pandas as pd

In [ ]:
# URL of that website from where we want to scrap the details
url='https://bharatpurmun.gov.np/en'

# Fetching the webpage
page=requests.get(url)

# Converting the webpage into clear and readable format
soup=BeautifulSoup(page.text,'html')

In [ ]:
print(soup)

In [4]:
# Search table in webpage
table=soup.find('table')

In [5]:
# Creating an empty list to store the data
data=[]

In [ ]:
print(table)

In [ ]:
# Finding all the rows in table
row= table.find_all('tr')

row

In [8]:
for x in row:
    # Creating a list to store each row's data
    rowdata=[]
    
    #Finding columns in the row
    value= x.find_all('td')
    
    for y in value:
        # Extracting and cleaning text
        rowdata.append(y.text.lstrip().rstrip())

    if rowdata:
        # Adding row data to main list i.e 'data'
        data.append(rowdata)

In [9]:
# Converting list into a pandas dataframe (a table)
dataset= pd.DataFrame(data)

# Saving this table as an excel file
dataset.to_excel("contact_details.xlsx")

# Extract initial 10 data fom the dataframe
dataset.head(10)

           0                        1             2           3           4
0       S.N.  People's Representative   Designation   Contact-1   Contact-2
1         1.               Renu Dahal         Mayor  9855011311           .
2         2.       Chitrasen Adhikari  Deputy-Mayor  9855050962  9855092300
3  Ward\nNo.  People's Representative   Designation   Contact-1   Contact-2
4         1.          Keshav Maharjan   Chairperson  9855055280  9855092301
5         2.          Manoj Rana Bhat   Chairperson  9855058053  9855092302
6         3.             Bikash Thapa   Chairperson  9855060880  9855092303
7         4.           Arpan Pokharel   Chairperson  9855053125  9855092304
8         5.   Yuddha Prasad Shrestha   Chairperson  9845081254  9855092305
9         6.     Krishna Lal Shrestha   Chairperson  9855038889  9855092306